zsh/.zcompdump

emacs.d/.cask
emacs.d/auto-save-list

webstorm/Library/Preferences/WebStorm9/componentVersions
webstorm/Library/Preferences/WebStorm9/eval
webstorm/Library/Preferences/WebStorm9/options/appComponentVersions.xml
webstorm/Library/Preferences/WebStorm9/options/dimensions.xml
webstorm/Library/Preferences/WebStorm9/options/feature.usage.statistics.xml
webstorm/Library/Preferences/WebStorm9/options/find.recents.xml
webstorm/Library/Preferences/WebStorm9/options/ide.general.xml
webstorm/Library/Preferences/WebStorm9/options/options.xml
webstorm/Library/Preferences/WebStorm9/options/other.xml
webstorm/Library/Preferences/WebStorm9/options/security.xml
webstorm/Library/Preferences/WebStorm9/options/statistics.application.usages.xml
webstorm/Library/Preferences/WebStorm9/options/usage.statistics.xml
webstorm/Library/Preferences/WebStorm9/options/window.manager.xml
webstorm/Library/Preferences/WebStorm9/tasks
webstorm/Library/Preferences/WebStorm9/webstorm90.key
